:root {
  --text-color: #333;
  --background-color: #fff;
  --hover-background-color: #c1c1c1;
}

.dark {
  --text-color: #fff;
  --background-color: #333;
  --hover-background-color: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Pretendard,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
